:root{
    --primary-color: rgb(62,35,80);
    --color-white:#fff;
    --color-black:rgb(46,38,24);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1.3rem;
    min-height: 100vh;
    line-height: 1.6;
}

/* resources*/

a{
color: var(--color-white);
text-decoration: none;
}

/*Header*/

header{
    height: 10vh;
    display: flex;
}

.main-nav{
    width: 70%;
    background-color: var(--primary-color);
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav ul{
    list-style: none;
    display: flex;
}
